@inject IUpdateMetadata State

@implements IDisposable

<h3>MetadataEditor</h3>

@if (State.Metadata != null)
{
    <p>@State.Metadata.CreationDate</p>
}
else
{
    <p>Not loaded</p>
}

<button class="btn btn-primary" @onclick="LoadMetadataFile">Load</button>