@page "/catalog"
@page "/datasets"
@page "/variable-catalog"
@page "/dataset-catalog"

@inject Services.StateContainer State


<Breadcrumb Style="margin:16px 0;">
    <BreadcrumbItem>
        <a href="">
            <Icon Type="home" Theme="fill" />
        </a>
    </BreadcrumbItem>
    <BreadcrumbItem>
        <Icon Type="read" /> Catalog
    </BreadcrumbItem>
</Breadcrumb>

<div class="site-layout-background">
    <CatalogLoader />
    <PageHeader Class="site-page-header" Title="Catalog" />
    <Tabs Type="@TabType.Card">
        <TabPane Key="1" Tab="Datasets">
            <FilteredCatalogMetadataViewer />
        </TabPane>
        <TabPane Key="2" Tab="Variables">
            <CatalogVariableViewer />
        </TabPane>
        <TabPane Key="3" Tab="Projects">
            <FilteredCatalogProjectViewer />
        </TabPane>
    </Tabs>
    
</div>