@page "/catalog/tags"
@inject Services.StateContainer State

<div class="site-layout-background">
    <CatalogLoader />
    <PageHeader Class="site-page-header"
                Title="Tag Catalog" />

    <FilteredCatalogTagViewer />
</div>