@page "/catalog/tags"
@inject Services.StateContainer State

<Breadcrumb Style="margin:16px 0;">
    <BreadcrumbItem>
        <a href="">
            <Icon Type="home" Theme="fill" />
        </a>
    </BreadcrumbItem>
    <BreadcrumbItem>
        <a href="catalog">
            <Icon Type="read" />
        </a>
    </BreadcrumbItem>
    <BreadcrumbItem>
        <Icon Type="tag" /> Tags
    </BreadcrumbItem>
</Breadcrumb>

<div class="site-layout-background">
    <PageHeader Class="site-page-header"
                Title="Tag Catalog" />
    <p>Coming soon...</p>
</div>


@code {

} 