@page "/catalog/variables"

@inject Services.StateContainer State


<Breadcrumb Style="margin:16px 0;">
    <BreadcrumbItem>
        <a href="">
            <Icon Type="home" Theme="fill" />
        </a>
    </BreadcrumbItem>
    <BreadcrumbItem>
        <a href="catalog">
            <Icon Type="read" />
        </a>
    </BreadcrumbItem>
    <BreadcrumbItem>
       <Icon Type="calculator" /> Variables
    </BreadcrumbItem>
    
</Breadcrumb>

<div class="site-layout-background">
    <CatalogLoader />
    <PageHeader Class="site-page-header" Title="Variable Catalog" />
    <CatalogVariableViewer />    
</div>