@page "/catalog/variables"

@inject Services.StateContainer State

<div class="site-layout-background">
    <CatalogLoader />
    <PageHeader Class="site-page-header" Title="Variable Catalog" />
    <CatalogVariableViewer />    
</div>