@page "/catalog"
@inject Services.StateContainer State


    <Breadcrumb Style="margin:16px 0;">
        <BreadcrumbItem>
            <a href="/">
                <Icon Type="home" Theme="fill" />
            </a>
        </BreadcrumbItem>
        <BreadcrumbItem>
            <a href="/catalog">
                <Icon Type="read" /> Catalog
            </a></BreadcrumbItem>
    </Breadcrumb>

<div class="site-layout-background">
    <CatalogLoader />
    <PageHeader Class="site-page-header" Title="Catalog" />
    <CatalogMetadataViewer />
</div>