@page "/catalog/zones/{ZoneName}/projects"
@inject Services.StateContainer State

<div class="site-layout-background">
    <PageHeader Class="site-page-header" 
                Title=@($"Projects in Zone: {ZoneName}") />
    <p>Coming soon...</p>
</div>


@code {

    [Parameter]
    public string ZoneName { get; set; }
} 