@page "/datasets"
@page "/catalog/datasets"
@page "/variable-catalog"
@page "/dataset-catalog"

@inject Services.StateContainer State


<Breadcrumb Style="margin:16px 0;">
    <BreadcrumbItem>
        <a href="">
            <Icon Type="home" Theme="fill" />
        </a>
    </BreadcrumbItem>
    <BreadcrumbItem>
        <a href="catalog">
            <Icon Type="read" />
        </a>
    </BreadcrumbItem>
    <BreadcrumbItem>
        <Icon Type="file-text" /> Datasets
    </BreadcrumbItem>
    
</Breadcrumb>

<div class="site-layout-background">
    <CatalogLoader />
    <PageHeader Class="site-page-header" Title="Dataset Catalog" />
    <FilteredCatalogMetadataViewer />    
</div>