@page "/catalog/projects"
@inject Services.StateContainer State
@inject NavigationManager NavManager

<Breadcrumb Style="margin:16px 0;">
    <BreadcrumbItem>
        <a href="">
            <Icon Type="home" Theme="fill" />
        </a>
    </BreadcrumbItem>
    <BreadcrumbItem>
        <a href="catalog">
            <Icon Type="read" />
        </a>
    </BreadcrumbItem>
    <BreadcrumbItem>
        <Icon Type="project" /> Projects
    </BreadcrumbItem>
</Breadcrumb>

<div class="site-layout-background">
    <CatalogLoader />
    <PageHeader Class="site-page-header"
                Title="Project Catalog" />
    
    <FilteredCatalogProjectViewer />
</div>


@code {

} 