@page "/catalog"
@inject Services.StateContainer State


<Breadcrumb Style="margin:16px 0;">
    <BreadcrumbItem>
        <a href="">
            <Icon Type="home" Theme="fill" />
        </a>
    </BreadcrumbItem>
    <BreadcrumbItem>
        <Icon Type="read" /> Catalog
    </BreadcrumbItem>
</Breadcrumb>

<div class="site-layout-background">
    <CatalogLoader />
    <PageHeader Class="site-page-header" Title="Catalog" />
    <Tabs Type="@TabType.Card">
        <TabPane Key="1">
            <Tab>Datasets</Tab>
            <ChildContent>
                <CatalogMetadataViewer />
            </ChildContent>
        </TabPane>
        <TabPane Key="2">
            <Tab>Variables</Tab>
            <ChildContent>
                <CatalogVariableViewer />
            </ChildContent>
        </TabPane>
    </Tabs>
    
</div>