@page "/catalog/projects/{ProjectName}"
@inject Services.StateContainer State

<div class="site-layout-background">
    <CatalogLoader />
    <PageHeader Class="site-page-header"
                Title="Project Details"
                Subtitle="Datasets filtered by project" />
    <ProjectDetails ProjectName="@ProjectName" />
    <FilteredCatalogMetadataViewer  Project="@ProjectName" />
    <CatalogVariableViewer Project=@ProjectName />
</div>


@code {
    [Parameter]
    public string ProjectName { get; set; }
} 