@page "/catalog/zones"
@inject Services.StateContainer State

<Breadcrumb Style="margin:16px 0;">
    <BreadcrumbItem>
        <a href="">
            <Icon Type="home" Theme="fill" />
        </a>
    </BreadcrumbItem>
    <BreadcrumbItem>
        <a href="catalog">
            <Icon Type="read" />
        </a>
    </BreadcrumbItem>
    <BreadcrumbItem>
        <Icon Type="folder" /> Zones
    </BreadcrumbItem>
</Breadcrumb>

<div class="site-layout-background">
    <PageHeader Class="site-page-header"
                Title="Zone Catalog" />
    <p>Coming soon...</p>
</div>


@code {

} 