@page "/counter"

@inject Services.StateContainer State

<h1>Counter</h1>

<p>Current count: @currentCount</p>

<button class="btn btn-primary" @onclick="IncrementCount">Click me</button>


@if (State?.Metadata != null)
{
    <p>@State.Metadata.CreationDate</p>
}
else
{
    <p>Not loaded</p>
}

@if (State != null)
{
    <p>LastUpdated: @State.LastUpdated</p>
    <p>State CreationDate: @State.Metadata.CreationDate</p>
}
else
{
    <p>None loaded</p>
}

<div class="alert alert-info">
    <MetadataEditor />
</div>

@code {
    private int currentCount = 0;

    private void IncrementCount()
    {
        currentCount++;
    }


    private async Task State_StateChanged(
            ComponentBase source,
            string property)
    {
        if (source != this)
        {
            // Do work here, provided change of state. Perhaps inspect Metadata to see if changed and save to local cache?
            await InvokeAsync(StateHasChanged);
        }
    }
}
