@page "/dashboard"
@inject Services.StateContainer State

<Breadcrumb Style="margin:16px 0;">
    <BreadcrumbItem>
        <a href="/">
            <Icon Type="home" Theme="fill" />
        </a>
    </BreadcrumbItem>
    <BreadcrumbItem>
        <a href="/dashboard">
            <Icon Type="dashboard" /> Dashboard
        </a>
    </BreadcrumbItem>
</Breadcrumb>

<div class="site-layout-background">
    <PageHeader Class="site-page-header" Title="Dashboard" />
</div>