@page "/editor/dataset"

@inject Services.StateContainer State

<div class="site-layout-background">
    <PageHeader Title="Dataset Editor" />
        <MetadataEditor />
    <BackTop></BackTop>
</div>