@page "/editor/project"

@inject Services.StateContainer State


<Breadcrumb Style="margin:16px 0;">
    <BreadcrumbItem>
        <a href="">
            <Icon Type="home" Theme="fill" />
        </a>
    </BreadcrumbItem>
    <BreadcrumbItem>
        <Icon Type="edit" /> Editor
    </BreadcrumbItem>
    <BreadcrumbItem>
        <Icon Type="project" /> Project
    </BreadcrumbItem>
</Breadcrumb>

<div class="site-layout-background">
    <PageHeader Title="Editor" />
        <p>Coming soon...</p>
    <BackTop></BackTop>
</div>