@page "/editor/project"

@inject Services.StateContainer State


<Breadcrumb Style="margin:16px 0;">
    <BreadcrumbItem>
        <a href="">
            <Icon Type="home" Theme="fill" />
        </a>
    </BreadcrumbItem>
    <BreadcrumbItem>
        <a href="editor">
            <Icon Type="edit" />
        </a>
    </BreadcrumbItem>
    <BreadcrumbItem>
        <Icon Type="project" /> Project
    </BreadcrumbItem>
</Breadcrumb>

<div class="site-layout-background">
    <PageHeader Title="Project Editor" />
       <ProjectEditor />
    <BackTop></BackTop>
</div>