@page "/editor"

@inject Services.StateContainer State

<div class="site-layout-background">
    <PageHeader Title="Editor" />
    <Row Gutter="16">
        <AntDesign.Col Span="8">
            <a href="editor/dataset">
                <Card Hoverable>
                    <CardMeta Title="Dataset" Description="Create or edit dataset metadata" />
                </Card>
            </a>
        </AntDesign.Col>
        <AntDesign.Col Span="8">
            <a href="editor/project">
                <Card Hoverable>
                    <CardMeta Title="Project" Description="Create or edit project information" />
                </Card>
            </a>
        </AntDesign.Col>
    </Row>
</div>