@page "/editor/dataset"

@inject Services.StateContainer State

<div class="site-layout-background">
    <PageHeader Title="Dataset Editor" />
    <AntDesign.Row Justify="center">
        <AntDesign.Col Span="18">
            <MetadataEditor />
        </AntDesign.Col>
    </AntDesign.Row>
    <BackTop></BackTop>
</div>