@page "/editor/dataset"

@inject Services.StateContainer State

<div class="site-layout-background">
    <PageHeader Title="Dataset Editor">
        <PageHeaderExtra>
            <a href="https://github.com/CafIncubator/Midden/wiki/Using-the-Midden-Editor" target="_blank"><Button Icon="@IconType.TwoTone.QuestionCircle">Help</Button></a>
        </PageHeaderExtra>
    </PageHeader>
        <MetadataEditor /> 
    <BackTop></BackTop>
</div>