@page "/"
@inject Services.StateContainer state

<h1>Hello, world!</h1>

Welcome to your new app.

<SurveyPrompt Title="How is Blazor working for you?" />

@if (state != null)
{
    <p>LastUpdated: @state.LastUpdated</p>
}
else
{
    <p>None loaded</p>
}

<div class="alert alert-info">
    <MetadataLoaderFileSystem @bind-Metadata="state.MetadataTwoWayBining" />
    @if(state.MetadataTwoWayBining != null)
    {
        <p>Creation: @state.MetadataTwoWayBining.CreationDate</p>
    }
</div>

<MetadataEditor @bind-Metadata="state.MetadataTwoWayBining" />