@page "/"
@inject Caf.Midden.Components.StateContainers.EditorStateContainer State

<h1>Hello, world!</h1>

Welcome to your new app.

<SurveyPrompt Title="How is Blazor working for you?" />

<MetadataEditor />