@page "/"
@inject Services.StateContainer State



@if (State?.AppConfig != null)
{
    <!---<PageHeader Class="site-page-header"
                Title="@State.AppConfig.OrganizationName"
                Subtitle="Metadata Tool" />-->
<h2>@State.AppConfig.OrganizationName</h2>
}


@if (State != null)
{
    <p>LastUpdated: @State.LastUpdated</p>
}
else
{
    <p>None loaded</p>
}


<div>
    <Row Gutter="16">
        <AntDesign.Col Span="8">
            <Card Hoverable Cover="coverTemplate">
                <CardMeta Title="Dashboard" Description="Stats for nerds" />
            </Card>
        </AntDesign.Col>
        <AntDesign.Col Span="8">
            <Card Hoverable Cover="coverTemplate">
                <CardMeta Title="Catalog" Description="Find and view datasets" />
            </Card>
        </AntDesign.Col>
        <AntDesign.Col Span="8">
            <Card Hoverable Cover="coverTemplate">
                <CardMeta Title="Editor" Description="Add dataset" />
            </Card>
        </AntDesign.Col>
    </Row>

</div>


@code{
    private RenderFragment coverTemplate =@<img alt="example" src="https://phenocam.sr.unh.edu/data/latest/cafcookeastltar01.jpg" />;
}