@page "/insights"
@inject Services.StateContainer State

<Breadcrumb Style="margin:16px 0;">
    <BreadcrumbItem>
        <a href="/">
            <Icon Type="home" Theme="fill" />
        </a>
    </BreadcrumbItem>
    <BreadcrumbItem>
        <Icon Type="line-chart" Theme="outline" /> Insights
    </BreadcrumbItem>
</Breadcrumb>

<div class="site-layout-background">
    <PageHeader Class="site-page-header" Title="Insights" />
</div>