@page "/catalog/{ZoneName}/{ProjectName}/{DatasetName}"
@page "/datasets/{ZoneName}/{ProjectName}/{DatasetName}"
@page "/catalog/zones/{ZoneName}/projects/{ProjectName}/datasets/{DatasetName}"
@page "/catalog/datasets/zones/{ZoneName}/projects/{ProjectName}/datasets/{DatasetName}"

@inject Services.StateContainer State
@inject NavigationManager NavManager

<div class="site-layout-background">
    <CatalogLoader />
    @if (this.Metadata != null)
    {
        <AntDesign.Row Justify="end">
            <AntDesign.Col Span="2">
                <Button OnClick="EditMetadata">
                    <Icon Type="edit" /> Edit
                </Button>
            </AntDesign.Col>
        </AntDesign.Row>
        <AntDesign.Row Justify="center">
            <AntDesign.Col Span="24">
                <MetadataDetails Metadata="this.Metadata" />
            </AntDesign.Col>
        </AntDesign.Row>
    } else
    {
        <span>Loading...</span>
    }
    </div>