@page "/catalog/projects/{ProjectName}"
@inject Services.StateContainer State

<Breadcrumb Style="margin:16px 0;">
    <BreadcrumbItem>
        <a href="">
            <Icon Type="home" Theme="fill" />
        </a>
    </BreadcrumbItem>
    <BreadcrumbItem>
        <a href="catalog">
            <Icon Type="read" /> Catalog
        </a>
    </BreadcrumbItem>
    <BreadcrumbItem>
        <Icon Type="project" /> @ProjectName
    </BreadcrumbItem>
</Breadcrumb>

<div class="site-layout-background">
    <CatalogLoader />
    <PageHeader Class="site-page-header"
                Title="Dataset Catalog"
                Subtitle="Filtered by project" />
    <FilteredCatalogMetadataViewer Project="@ProjectName" />
</div>


@code {
    [Parameter]
    public string ProjectName { get; set; }
} 