@page "/catalog/zones/{ZoneName}/projects/{ProjectName}"
@inject Services.StateContainer State

<Breadcrumb Style="margin:16px 0;">
    <BreadcrumbItem>
        <a href="">
            <Icon Type="home" Theme="fill" />
        </a>
    </BreadcrumbItem>
    <BreadcrumbItem>
        <a href="catalog">
            <Icon Type="read" /> Catalog
        </a>
    </BreadcrumbItem>
    <BreadcrumbItem>
        <a href="catalog/zones/@ZoneName">
            <Icon Type="folder" /> @ZoneName
        </a>
    </BreadcrumbItem>
    <BreadcrumbItem>
        <Icon Type="project" /> @ProjectName
    </BreadcrumbItem>
</Breadcrumb>

<div class="site-layout-background">
    <CatalogLoader />
    <PageHeader Class="site-page-header" 
                Title="@($"Catalog filtered by Zone: {ZoneName} and Project: {ProjectName}")" />
    <FilteredCatalogMetadataViewer Zone="@ZoneName"
                                   Project="@ProjectName" />
</div>


@code {
    [Parameter]
    public string ProjectName { get; set; }

    [Parameter]
    public string ZoneName { get; set; }
} 