@using Caf.Midden.Core.Models.v0_1_0alpha4
@using Microsoft.AspNetCore.Components
@using AntDesign
@inherits ModalTemplate<Caf.Midden.Components.ViewModels.DerivedWorkModalViewModel>
@using System.ComponentModel.DataAnnotations
@using Microsoft.AspNetCore.Components.Forms
@using Caf.Midden.Components.ViewModels

<Form Model="@_model"
      LabelCol="new ColLayoutParam { Span = 8 }"
      WrapperCol="new ColLayoutParam { Span = 16 }"
      OnFinish="OnFinish"
      OnFinishFailed="OnFinishFailed">
    <FormItem Label="Derived Work">
        <Input @bind-Value="@context.DerivedWork"
               Placeholder="Link to document that references dataset, or short description"/>
    </FormItem>
    <FormItem>
        <Button Type="@ButtonType.Primary" HtmlType="submit">
            Submit
        </Button>
    </FormItem>
</Form>

@code {
    private DerivedWorkModalViewModel _model;

    protected override void OnInitialized()
    {
        _model = base.Options ?? new DerivedWorkModalViewModel();
        base.OnInitialized();
    }

    private void OnFinish(EditContext editContext)
    {
        _ = base.ModalRef.CloseAsync();
    }

    private void OnFinishFailed(EditContext editContext)
    {
        
    }
}
