@using Caf.Midden.Core.Models.v0_2
@using Microsoft.AspNetCore.Components
@using AntDesign
@inherits FeedbackComponent<Caf.Midden.Wasm.Shared.ViewModels.MetadataDetailsViewModel>
@using System.ComponentModel.DataAnnotations
@using Microsoft.AspNetCore.Components.Forms
@using Caf.Midden.Wasm.Shared.ViewModels
@inject NavigationManager NavManager

<AntDesign.Row Justify="space-between">

    <AntDesign.Col Span="22">
        <strong>@_model.Metadata.Dataset.Zone / @_model.Metadata.Dataset.Project / </strong>
    </AntDesign.Col>
    <!-- Don't show the link to full screen if editing -->
    @if (NavManager.ToBaseRelativePath(NavManager.Uri).ToString() != "editor")
    {
        <AntDesign.Col Span="2">
            <Button Type="primary" OnClick="ViewFull">
                <Icon Type="fullscreen" Theme="outline" /> View Page
            </Button>
        </AntDesign.Col>
    }

</AntDesign.Row>


<MetadataDetails Metadata="@_model.Metadata" />

@code {
    private MetadataDetailsViewModel _model;

    protected override void OnInitialized()
    {
        _model = base.Options ?? new MetadataDetailsViewModel();
        base.OnInitialized();
    }

    private async void ViewFull()
    {
        await base.CloseFeedbackAsync();
       
        NavManager.NavigateTo($"catalog/zones/{_model.Metadata.Dataset.Zone}/projects/{_model.Metadata.Dataset.Project}/datasets/{_model.Metadata.Dataset.Name}");
    }

    private void OnFinish(EditContext editContext)
    {
        //_ = base.ModalRef.CloseAsync();
    }

    private void OnFinishFailed(EditContext editContext)
    {

    }
}
