@inherits LayoutComponentBase
@inject Services.StateContainer State
 
<Layout Style="min-height: 100vh;">
    <Header Class="header">
        <ConfigurationLoader @bind-Configuration="State.AppConfig" />
        @if (State.AppConfig != null)
        {
            <div id="org-name">@State.AppConfig.ToolName</div>
        }

    </Header>
    <Layout>
        <Sider Collapsible
               Collapsed=@collapsed
               NoTrigger
               OnCollapse=@OnCollapse
               Theme=SiderTheme.Light
               Breakpoint="BreakpointType.Lg">
            <div class="menu-toggle">
                @if (collapsed)
                {
                    <Icon Type="menu-unfold" Theme="outline" Class="trigger" OnClick="toggle" />
                }
                else
                {
                    <Icon Type="menu-fold" Theme="outline" Class="trigger" OnClick="toggle" />
                }
            </div>
            <Menu Theme="MenuTheme.Light" DefaultSelectedKeys=@(new[]{"1"}) Mode="MenuMode.Inline">
                <MenuItem Key="1" RouterLink="" RouterMatch="NavLinkMatch.All">
                    <Icon Type="home" Theme="outline" />
                    <span>Home</span>
                </MenuItem>
                <MenuItem Key="2" RouterLink="/catalog" RouterMatch="NavLinkMatch.All">
                    <Icon Type="container" Theme="outline" />
                    <span>Catalog</span>
                </MenuItem>
                <MenuItem Key="3" RouterLink="/editor" RouterMatch="NavLinkMatch.All">
                    <Icon Type="edit" Theme="outline" />
                    <span>Editor</span>
                </MenuItem>
            </Menu>
        </Sider>
        <Layout Class="site-layout">
            <Content Style="margin:0 16px;">
                <Breadcrumb Style="margin:16px 0;">
                    <BreadcrumbItem>User</BreadcrumbItem>
                    <BreadcrumbItem>Bill</BreadcrumbItem>
                </Breadcrumb>
                <div class="site-layout-background">
                    @Body
                </div>
            </Content>
            <Footer Style="text-align:center">
                Made with <a href="https://github.com/cafltar/midden">
                <Icon Type="github" Theme="outline" /> Midden</a>
            </Footer>
        </Layout>
    </Layout>
</Layout>