@inherits LayoutComponentBase
@inject Services.StateContainer State
 
<Caf.Midden.Wasm.Shared.ConfigurationLoader>
    <Layout Style="min-height: 100vh;">
        <Header Class="header">

            @if (State.AppConfig != null)
            {
                <div class="tool-name">@State.AppConfig.ToolName</div>
            }

            <!--
        <div class="configure-icon">
        <a href="#">
            <Icon Type="setting" Theme="outline" />
        </a>
    </div>
    -->
        </Header>
        <Layout>
            <Sider Collapsible
                   Collapsed=@collapsed
                   NoTrigger
                   OnCollapse=@OnCollapse
                   Theme=SiderTheme.Light
                   Breakpoint="BreakpointType.Lg">
                <div class="menu-toggle">
                    @if (collapsed)
                    {
                        <Icon Type="menu-unfold" Theme="outline" Class="trigger" OnClick="toggle" />
                    }
                    else
                    {
                        <Icon Type="menu-fold" Theme="outline" Class="trigger" OnClick="toggle" />
                    }
                </div>
                <Menu   Theme="MenuTheme.Light" 
                        DefaultSelectedKeys=@(new[]{"1"}) 
                        DefaultOpenKeys=@(new[]{"3", "4"})
                        Mode="MenuMode.Inline">
                    <MenuItem Key="1" RouterLink="" RouterMatch="NavLinkMatch.Prefix">
                        <Icon Type="home" Theme="outline" />
                        <span>Home</span>
                    </MenuItem>
                    <MenuItem Key="2" RouterLink="insights" RouterMatch="NavLinkMatch.Prefix">
                        <Icon Type="line-chart" Theme="outline" />
                        <span>Insights</span>
                    </MenuItem>
                    <SubMenu Key="3" Title="Catalog" TitleTemplate=@catalogTitle>
                        <MenuItem Key="3a" RouterLink="catalog/datasets" RouterMatch="NavLinkMatch.Prefix">
                            <Icon Type="file-text" Theme="outline" />
                            <span>Datasets</span>
                        </MenuItem>
                        <MenuItem Key="3b" RouterLink="catalog/variables" RouterMatch="NavLinkMatch.Prefix">
                            <Icon Type="calculator" Theme="outline" />
                            <span>Variables</span>
                        </MenuItem>
                        <MenuItem Key="3c" RouterLink="catalog/projects" RouterMatch="NavLinkMatch.Prefix">
                            <Icon Type="project" Theme="outline" />
                            <span>Projects</span>
                        </MenuItem>
                        <MenuItem Key="3d" RouterLink="catalog/zones" RouterMatch="NavLinkMatch.Prefix">
                            <Icon Type="folder" Theme="outline" />
                            <span>Zones</span>
                        </MenuItem>
                         <MenuItem Key="3e" RouterLink="catalog/tags" RouterMatch="NavLinkMatch.Prefix">
                            <Icon Type="tag" Theme="outline" />
                            <span>Tags</span>
                        </MenuItem>
                    </SubMenu>
                    <SubMenu Key="4" Title="Editor" TitleTemplate=@editorTitle>
                        <MenuItem Key="4a" RouterLink="editor/dataset" RouterMatch="NavLinkMatch.Prefix">
                            <Icon Type="file-text" Theme="outline" />
                            <span>Dataset</span>
                        </MenuItem>
                        <MenuItem Key="4b" RouterLink="editor/project" RouterMatch="NavLinkMatch.Prefix">
                            <Icon Type="project" Theme="outline" />
                            <span>Project</span>
                        </MenuItem>
                    </SubMenu>
                    
                </Menu>
            </Sider>
            <Layout Class="site-layout">
                <Content Style="margin:0 16px;">
                    @Body
                </Content>
                <Footer Style="text-align:center">
                    Made with <a href="https://github.com/cafincubator/midden">
                        <Icon Type="github" Theme="outline" /> Midden
                    </a>
                    <Divider Type="DirectionVHType.Vertical" />
                    <span>Web Tools @($"v{State.AssemblyVersion}")</span>
                </Footer>
            </Layout>
        </Layout>
    </Layout>
</Caf.Midden.Wasm.Shared.ConfigurationLoader>

@code {
    RenderFragment catalogTitle =
        @<span>
            <Icon Type="read" Theme="outline" />
            <span>Catalog</span>
        </span>;

    RenderFragment editorTitle =
        @<span>
            <Icon Type="edit" Theme="outline" />
            <span>Editor</span>
        </span>;
                
}