@inherits LayoutComponentBase
@inject Services.StateContainer State
 
<Caf.Midden.Wasm.Shared.ConfigurationLoader>
    <Layout Style="min-height: 100vh;">
        <Header Class="header">

            @if (State.AppConfig != null)
            {
                <div class="tool-name">@State.AppConfig.ToolName</div>
            }

            <!--
        <div class="configure-icon">
        <a href="#">
            <Icon Type="setting" Theme="outline" />
        </a>
    </div>
    -->
        </Header>
        <Layout>
            <Sider Collapsible
                   Collapsed=@collapsed
                   NoTrigger
                   OnCollapse=@OnCollapse
                   Theme=SiderTheme.Light
                   Breakpoint="BreakpointType.Lg">
                <div class="menu-toggle">
                    @if (collapsed)
                    {
                        <Icon Type="menu-unfold" Theme="outline" Class="trigger" OnClick="toggle" />
                    }
                    else
                    {
                        <Icon Type="menu-fold" Theme="outline" Class="trigger" OnClick="toggle" />
                    }
                </div>
                <Menu Theme="MenuTheme.Light" DefaultSelectedKeys=@(new[]{"1"}) Mode="MenuMode.Inline">
                    <MenuItem Key="1" RouterLink="" RouterMatch="NavLinkMatch.All">
                        <Icon Type="home" Theme="outline" />
                        <span>Home</span>
                    </MenuItem>
                    <MenuItem Key="2" RouterLink="insights" RouterMatch="NavLinkMatch.All">
                        <Icon Type="line-chart" Theme="outline" />
                        <span>Insights</span>
                    </MenuItem>
                    <MenuItem Key="3" RouterLink="catalog" RouterMatch="NavLinkMatch.All">
                        <Icon Type="read" Theme="outline" />
                        <span>Catalog</span>
                    </MenuItem>
                    <MenuItem Key="4" RouterLink="editor" RouterMatch="NavLinkMatch.All">
                        <Icon Type="edit" Theme="outline" />
                        <span>Editor</span>
                    </MenuItem>
                </Menu>
            </Sider>
            <Layout Class="site-layout">
                <Content Style="margin:0 16px;">
                    @Body
                </Content>
                <Footer Style="text-align:center">
                    Made with <a href="https://github.com/cafincubator/midden">
                        <Icon Type="github" Theme="outline" /> Midden
                    </a>
                    <span>Web Tools @($"v{State.AssemblyVersion}")</span>
                </Footer>
            </Layout>
        </Layout>
    </Layout>
</Caf.Midden.Wasm.Shared.ConfigurationLoader>