@inherits LayoutComponentBase
<!--<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <div class="main">
        <div class="top-row px-4">
            <a href="http://blazor.net" target="_blank" class="ml-md-auto">About</a>
        </div>

        <div class="content px-4">
            @Body
        </div>
    </div>
</div>-->

<Layout Style="min-height: 100vh; ">
    <Sider 
           Collapsible 
           Collapsed=@collapsed 
           OnCollapse=@onCollapse 
           Theme=SiderTheme.Light 
           Breakpoint="BreakpointType.Lg">
        
        <div class="logo"><p>CAF</p></div>
        
        <Menu Theme="MenuTheme.Light" DefaultSelectedKeys=@(new[]{"1"}) Mode="MenuMode.Inline">
            <MenuItem Key="1" RouterLink="" RouterMatch="NavLinkMatch.All">
                <Icon Type="home" Theme="outline" />
                <span>Home</span>
            </MenuItem>
            <MenuItem Key="2" RouterLink="/catalog" RouterMatch="NavLinkMatch.All">
                <Icon Type="container" Theme="outline" />
                <span>Catalog</span>
            </MenuItem>
            <MenuItem Key="3" RouterLink="/editor" RouterMatch="NavLinkMatch.All">
                <Icon Type="edit" Theme="outline" />
                <span>Editor</span>
            </MenuItem>
        </Menu>
    </Sider>
    <Layout Class="site-layout">
        <Content Style="margin:0 16px;">
            <Breadcrumb Style="margin:16px 0;">
                <BreadcrumbItem>User</BreadcrumbItem>
                <BreadcrumbItem>Bill</BreadcrumbItem>
            </Breadcrumb>
            <div class="site-layout-background" style="padding: 24; min-height: 360px">
                @Body
            </div>
        </Content>
        <Footer Style="text-align:center ">Midden ©2020 Created by CAF LTAR</Footer>
    </Layout>
</Layout>


@code {
    bool collapsed;

    void onCollapse(bool collapsed)
    {
        this.collapsed = collapsed;
    }
}


<style>
    #components-layout-demo-side .logo {
        height: 32px;
        background: rgba(255, 255, 255, 0.2);
        margin: 16px;
    }

    .site-layout .site-layout-background {
        background: #fff;
    }
</style>