@inject Caf.Midden.Wasm.Services.StateContainer State
@inject ModalService ModalService

<Divider Orientation="center">Project Information</Divider>

@if (Project != null)
{
<Card>
    <TitleTemplate>
        <Icon Type="project" Theme="outline" /> @Project.Name
    </TitleTemplate>
    <Body>
        <!-- <textarea readonly
            rows="@(string.IsNullOrEmpty(Project.Description) ? 1 : Project.Description.Split('\n').Length + 2)"
            style="width:100%; border:none;">@Project.Description</textarea> -->
        <div>@((MarkupString)MarkdownDescription)</div>
        <Divider />
        <Icon Type="file-text" /> @NumberDatasets Datasets
        <Divider Type="DirectionVHType.Vertical" />
        <Icon Type="calculator" /> @NumberVariables Variables
    </Body>
</Card>
}
else
{
<Empty Simple />
}
