.ant-layout-header {
    height: 40px;
    padding: 5px;
    line-height: 0px;
    background: #40A9FF;
    position: relative;
    z-index: 10;
    -webkit-box-shadow: 0px 0px 5px 3px rgba(41,41,41,.25);
    -moz-box-shadow: 0px 0px 5px 3px rgba(41,41,41,.25);
    box-shadow: 0px 0px 5px 3px rgba(41,41,41,.25);
}

.site-layout .site-layout-background {
    background: #fff;
}

.menu-toggle {
    text-align: right;
}

.trigger {
    font-size: 16px;
    padding: 5px;
    cursor: pointer;
    transition: color 0.3s;
}

    .trigger:hover {
        color: #1890ff;
    }

.header {
    display: flex;
    align-items: center;
    justify-content: left;
    padding-left: 25px;
}
    .header #org-name {
        font-weight: bold;
        color: #FFF;
    }

.icn-spinner {
    animation: spin-animation 0.5s infinite;
    display: inline-block;
}

@keyframes spin-animation {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(359deg);
    }
}

.site-layout-background {
    padding: 24px;
    min-height: 360px
}