.ant-layout-header {
    height: 40px;
    padding: 5px;
    line-height: 0px;
    background: #40A9FF;
    position: relative;
    z-index: 10;
    -webkit-box-shadow: 0px 0px 5px 3px rgba(41,41,41,.25);
    -moz-box-shadow: 0px 0px 5px 3px rgba(41,41,41,.25);
    box-shadow: 0px 0px 5px 3px rgba(41,41,41,.25);
}

.site-layout .site-layout-background {
    background: #fff;
}

.menu-toggle {
    text-align: right;
}

.trigger {
    font-size: 16px;
    padding: 5px;
    cursor: pointer;
    transition: color 0.3s;
}

    .trigger:hover {
        color: #1890ff;
    }

.header {
    display: flex;
    align-items: center;
    justify-content: left;
    padding-left: 25px;
    padding-right: 25px;
}
    .header .tool-name {
        font-weight: bold;
        color: #FFF;
    }

    .header .configure-icon {
        margin-left: auto;
    }
        .header .configure-icon a {
            color: #FFF;
        }

.icn-spinner {
    animation: spin-animation 1s infinite;
    display: inline-block;
}

@keyframes spin-animation {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(359deg);
    }
}

.site-layout-background {
    padding: 24px;
    min-height: 360px
}

.ant-page-header {
    padding: 0 0 16px 0;
}

/* Editor */
#contacts .ant-list-item {
    padding-left: 0;
}

    #contacts .ant-list-item .ant-form-item {
        margin-bottom: 0;
        padding-bottom: 0;
    }
.thirty-percent {
    width: 30%;
}

#spatial-repeats {
    width: 100%;
}

.file-input-zone {
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgba(0,0,0,.85);
    cursor: pointer;
    position: relative;
    width: 120px;
    height: 30px;
    border: 1px solid transparent;
    box-shadow: 0 2px 0 rgb(0 0 0 / 2%);
    cursor: pointer;
    border-radius: 2px;
    border-color: #d9d9d9;
    transition: all .3s cubic-bezier(.645,.045,.355,1);
    line-height: 1.5715px;
    height: 32px;
    touch-action: manipulation;
    background: #fff;
}

    .file-input-zone input[type=file] {
        position: absolute;
        width: 100%;
        height: 100%;
        opacity: 0;
        cursor: pointer;
    }

        .file-input-zone input[type=file]:hover {
        }

    .file-input-zone:hover {
        color: #40a9ff;
        background: #fff;
        border-color: #40a9ff
    }

.ant-card-head {
    border-bottom: 1px solid #9e9e9e;
    background-color: #f6f6f6;
}

.ant-card-bordered {
    border: 1px solid #9e9e9e;
}

.ant-list-split .ant-list-header {
    border-bottom: 1px solid #9e9e9e;
}

.ant-list-bordered {
    border: 1px solid #9e9e9e;
}

.ant-list-header {
    background-color: #f6f6f6;
    font-weight: 500;
}

.ant-list-bordered .ant-list-header {
    padding: 16px;
    font-size: 16px;
}

.editor-preview-full.editor-preview.editor-preview-active h1 {
    display: block;
    font-size: 2em;
    margin-top: 0.67em;
    margin-bottom: 0.67em;
    margin-left: 0;
    margin-right: 0;
    font-weight: bold;
}

.truncate {
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    max-height: 100px;
}